{
  "openapi": "3.0.0",
  "info": {
    "title": "SMTP Public API overview",
    "description": "SMTP.com Public API v4",
    "termsOfService": "https://www.smtp.com/policies/terms-and-conditions.aspx",
    "contact": {
      "name": "SMTP.com support",
      "email": "support@smtp.com"
    },
    "license": {
      "name": "Apache 2.0"
    },
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://api.smtp.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Statistics",
      "description": "Returns event aggregates for the specified data slices and duration.\n"
    },
    {
      "name": "Account",
      "description": "Return and update basic account information: first name, last name, email, company name, phone etc.\n"
    },
    {
      "name": "Channels",
      "description": "Channels, also known as senders, correspond to specific sending channels. For example an account may send email for various areas of their business including marketing, office communications, customer communications, reminders and notifications.\n\nChannels will have their unique (system-wide) SMTP username and password for SMTP delivery and they can have their quota specified, which will be added up to the Account's total quota.\n"
    },
    {
      "name": "API keys",
      "description": "API keys can be setup and configured for the account. All API keys have similar access level and will let you differentiate and audit the API usage for different API users.\n"
    },
    {
      "name": "Reports",
      "description": "Deliver a periodic report of a channel/account activity. Frequency of reports can be one of: daily, weekly, monthly. Daily will be sent for the previous day, weekly - on Monday, for the previous week, monthly - on the first day for the previous month. If frequency is not specified, the report will be scheduled to be generated immediately, and can be retrieved from an URL once it is ready to download.\n"
    },
    {
      "name": "Alerts",
      "description": "Setup, configure and delete custom alerts. Alerts are emails that are delivered to the account owner’s email address when a given alert condition is met.\n\nCurrently a monthly quota usage alert defined which will trigger at a specific threshold of account’s monthly quota.\n"
    },
    {
      "name": "DKIMs",
      "description": "DKIM key settings can be created and updated for each registered domain.\n\nA domain must be registered and verified for the account first, before one can add any DKIM keys. DKIM key will pass a validation, when added, and if there is no correct public key available, the DKIM key will be rejected.\n"
    },
    {
      "name": "Callbacks",
      "description": "Callbacks, also known as web notifications or web hooks, allow user to be notified about any kind of events. Callbacks will be sent over HTTP POST to a URL, specified during callback creation or to Amazon SQS queue. You can see the most recent callback attempts log to troubleshoot missing callbacks.\n\n\nUsually, when we receive a non-positive response from a callback URL (non-2xx status), we are retrying this callback several times (depending on our internal settings), until we give up and discard it forever.\n\n\nPlease note, that we try to batch callback data into convenient data packages of variable size (depending on the Callback Engine's state and settings) and do not fire them one-by-one to avoid stressing both a callback end-point and our Engine. Also note that callbacks must be created on a per-channel basis.\n"
    },
    {
      "name": "Messages",
      "description": "Access to detailed information regarding all messages and their events. Unlike callbacks, which are fired with an event’s information as they happen in real time, this resource provides a report over a specific time period on demand. You can specify the level of detail such as: all, delivered, bounced, domain, channel slice, time interval etc.\n\nThe detailed statistics are provided only for the last 7 calendar days not including today, (e.g. on Jan 30 it would return events from Jan 23 00:00 UTC to Jan 30 23:59 UTC) and should be requested on a per-channel basis (i.e. there are no account wide detailed statistics).\n\nBecause it's an intensive call, both limit and offset are required.\n\nThe returned data is sorted by an event time, ascending (earlier events first).\n"
    }
  ],
  "paths": {
    "/v4/stats/{duration}/{slice}/{slice_specifier}/{group_by}": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "summary": "Return event aggregates for the specified slices and duration. Slices can be chained.",
        "description": "**Get stats for a period**<br>\nRequest:<br>\n*/v4/stats/last_day*<br>\n*/v4/stats?start=Tue%2C%2016%20Jan%2015%3A14%3A29%20%2B0000*<br>\nResponse:<br>\n```\n{\"accepted\": 300, \"delivered\": 100, \"complained\": 0, \"failed\": 50, \"bounced\": 150, \"queued\": 0}\n```\n<br><br>\n**Get stats for a period, grouped by channel**<br>\nRequest:<br>\n*/v4/stats/last_day/channel*<br>\nResponse:<br>\n```\n{\"channel1\": {\"accepted\": 30, \"delivered\": 10, \"complained\": 0, \"failed\": 5, \"bounced\": 15, \"queued\": 0}, \"channel2\": {\"accepted\": 0, \"delivered\": 0, \"complained\": 0, \"failed\": 0, \"bounced\": 0, \"queued\": 0}}\n```\n<br><br>\n**Get stats for specific sending domain and channel (sender) and period, grouped by ISP**<br>\nRequest:<br>\n*/v4/stats/last_day/channel/marketing/domain/smtp.com/rcpt_isp*<br>\nResponse:<br>\n```\n{\"yahoo\": {\"accepted\": 30, \"delivered\": 10, \"complained\": 0, \"failed\": 5, \"bounced\": 15, \"queued\": 0}, \"google\": {\"accepted\": 0, \"delivered\": 0, \"complained\": 0, \"failed\": 0, \"bounced\": 0, \"queued\": 0}}\n```\n",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "The starting time. Required if the `{duration}` path parameter is not specified. RFC 2822 or UNIX epoch format.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The ending time. If not specified, defaults to now. RFC 2822 or UNIX epoch format.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "path",
            "description": "A standardized shorthand for a known start/end bracket. Duration automatically supersedes start/end values provided as query string parameters. One of either the `{duration}` path parameter or the `start` query parameter must be specified.\n <table>\n <tr><th>Value</th><th>Start</th><th>End</th><th>Slicable</th></tr>\n <tr><td>last_24hrs</td><td>84,400 seconds ago</td><td>Now</td><td>yes</td></tr>\n <tr><td>last_30days</td><td>18,144,000 seconds ago</td><td>Now</td><td>yes</td></tr>\n <tr><td>last_7days</td><td>604,800 seconds ago</td><td>Now</td><td>yes</td></tr>\n <tr><td>last_day</td><td>00:00:00 of the previous day</td><td>23:59:59 of the previous day</td><td>yes</td></tr>\n <tr><td>last_hour</td><td>00:00 of the previous hour</td><td>59:59 of the previous hour</td><td>yes</td></tr>\n <tr><td>last_month or mtd</td><td>1st day 00:00:00 of previous month</td><td>23:59:59 last day of previous month</td><td>yes</td></tr>\n <tr><td>last_week</td><td>Monday 00:00:00 of previous week</td><td>Sunday 23:59:59 of previous week</td><td>yes</td></tr>\n <tr><td>this_day</td><td>00:00:00 of current day</td><td>Now</td><td>yes</td></tr>\n <tr><td>this_hour</td><td>00:00 of current clock hour</td><td>Now</td><td>yes</td></tr>\n <tr><td>this_month</td><td>1st day 00:00:00 of current month</td><td>Now</td><td>yes</td></tr>\n <tr><td>this_week</td><td>Monday 00:00:00 of current week</td><td>Now</td><td>yes</td></tr>\n <tr><td>last_year</td><td> Jan 1st 00:00:00 of previous year</td><td>Dec 31st 23:59:59 of previous year</td><td>no</td></tr>\n <tr><td>this_year or ytd</td><td>Jan 1st  00:00:0 of current year</td><td>Now</td><td>no</td></tr>\n <tr><td>total</td><td>Account creation date</td><td>Now</td><td>no</td></tr>\n </table>\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "last_hour",
                "last_day",
                "last_week",
                "last_month",
                "this_hour",
                "this_day",
                "this_week",
                "this_month",
                "last_24hrs",
                "last_7days",
                "last_30days",
                "mtd",
                "total",
                "this_year",
                "ytd",
                "last_year"
              ]
            }
          },
          {
            "name": "slice",
            "in": "path",
            "description": "A reducing method which can be applied to the requested duration. A final slice without an optional slice specifier will define a grouping.\n\nPossible Values:\n * `channel`: (optional) A given account's sender\n * `domain`: (optional) Sending domain\n * `rcpt_domain`: (optional) Recieving domain\n * `rcpt_isp`: (optional) Receiving ISP\n \n \nSlices can be chained in a meaningful way – for example:\n  ```\n  /last_month/channel/marketing/domain/smtp.com/rcpt_domain?event=complained\n  ```\nwould produce an aggregate of complaints for a current account’s channel (sender) called “marketing” which were:\n  * sent from the registered email domain “smtp.com”, and \n  * are grouped by receiving domains\n  \n  \nThe response would look something like:\n  ```\n  {“google.com”: {“complained”: 5}, “yahoo.com”: {“complained”:1}, “aol.com”: {“complained”:1}}\n  ```\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "channel",
                "domain",
                "rcpt_domain",
                "rcpt_isp"
              ]
            }
          },
          {
            "name": "slice_specifier",
            "in": "path",
            "description": "slice value (smtp.com, sender1)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "path",
            "description": "Define a grouping:\n * `channel` - optionally to be followed by a channel ID or name specifier\n * `domain`  - optionally to be followed by a registered domain name\n * `rcpt_domain` - optionally to be followed by a registered domain name\n * `rcpt_isp` - optionally to be followed by a registered domain name\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "channel",
                "domain",
                "rcpt_domain",
                "rcpt_isp"
              ]
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Array of any event names for which stats has been requested.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "accepted",
                "delivered",
                "failed",
                "hard",
                "queued",
                "opened",
                "clicked",
                "unsubscribed",
                "complained"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip before returning the results.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/account/": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Details",
        "responses": {
          "200": {
            "description": "Get Account Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "status": "active",
                    "phone": 16175555555,
                    "first_name": "John",
                    "last_name": "Smith",
                    "company_name": "ACME",
                    "address": {
                      "city": "Carcer City",
                      "state": "NJ",
                      "street": "1 Wapona Hills",
                      "country": "United States"
                    },
                    "usage": 0,
                    "date_created": 1516885463,
                    "website": "n/a",
                    "email": "johh.smith@carcer.city"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Details",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "description": "First name of account owner",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last name of account owner",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address of account owner",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_name",
            "in": "query",
            "description": "Account owner’s company name",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone number of account owner",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "website",
            "in": "query",
            "description": "Website of account owner",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address.street",
            "in": "query",
            "description": "Account owner’s street address",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address.city",
            "in": "query",
            "description": "Account owner’s city",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address.state",
            "in": "query",
            "description": "Account owner’s state",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address.country",
            "in": "query",
            "description": "Account owner’s country",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Account Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAccountResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": "updated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/channels/": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get All Channels",
        "description": "**Note:** This method does not return archived channels.\n",
        "responses": {
          "200": {
            "description": "Get All Channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channels"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "items": [
                      {
                        "status": "cancelled",
                        "quota": 20,
                        "name": "mysender",
                        "usage": 0,
                        "date_created": 1507958155,
                        "smtp_username": "myusername@smtp.com"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create a New Channel",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the channel (sender)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smtp_username",
            "in": "query",
            "description": "Username for the channel",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smtp_password",
            "in": "query",
            "description": "Password for the channel",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quota",
            "in": "query",
            "description": "Quota for the channel",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a New Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            },
            "links": {
              "GetChannelByLabel": {
                "operationId": "getSender",
                "parameters": {
                  "channel_name": "$response.body#/data.name"
                },
                "description": "The `name` value returned in the response can be used as the `channel_name` parameter in `GET /v4/channels/{channel_name}`.\n"
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/channels/{name}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Channel Details",
        "description": "**Note:** This method doesn't return archived channels.\n",
        "operationId": "getSender",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the channel (sender)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Channel Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Delete a Channel",
        "description": "**Note:** This method doesn’t permanently delete the channel but rather sets the status to “canceled”.\n",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the channel (sender)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Channels"
        ],
        "summary": "Update Channel Details",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the channel (sender)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smtp_username",
            "in": "query",
            "description": "Username for the channel",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smtp_password",
            "in": "query",
            "description": "Password for the channel",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quota",
            "in": "query",
            "description": "Quota for the channel",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Channel Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/domains/": {
      "get": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Get All Registered Domains",
        "description": "Returns all domains registered by this account",
        "responses": {
          "200": {
            "description": "Get Domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomainsResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "items": [
                      {
                        "domain_name": "smtp.com",
                        "enabled": true
                      },
                      {
                        "domain_name": "smtpsend.com",
                        "enabled": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Register a Domain",
        "description": "Add a new domain to the list of account's registered domains",
        "parameters": [
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain name to add",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register a Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomainResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "domain_name": "created"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/domains/{domain_name}": {
      "get": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Get Domain Details",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Domain Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomainDetailsResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "domain_name": "smtp.com",
                    "enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Delete Domain",
        "description": "Deletes a domain that was previously registered by the current account.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "domain": "deleted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Update Domain Details",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "Whether the domain is enabled",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Domain Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "domain": "updated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/domains/{domain_name}/dkim_keys": {
      "get": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Get DKIM for Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get DKIM for Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomainDetails"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "domain_name": "smtp.com",
                    "is_valid": true,
                    "selector": "selector",
                    "private_key": "private_key"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Add DKIM for Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selector",
            "in": "query",
            "description": "Name of DKIM selector for this domain",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private_key",
            "in": "query",
            "description": "Private key of the DKIM record",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add DKIM for Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDkimKey"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "dkim_key": "created"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Delete DKIM for Domain",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete DKIM for Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "dkim_key": "deleted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "DKIMs"
        ],
        "summary": "Update DKIM Key Details",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name of interest",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selector",
            "in": "query",
            "description": "Name of DKIM selector for this domain",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "private_key",
            "in": "query",
            "description": "Private key of the DKIM record",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update DKIM Key Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "dkim_key": "updated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/api_keys/": {
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "List All API Keys",
        "responses": {
          "200": {
            "description": "List All API Keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeys"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "items": [
                      {
                        "status": "active",
                        "description": null,
                        "key": "48c3c53b7a05179a79b20a8861f63272a0c8ebf2",
                        "date_created": 1516882099,
                        "name": "new key"
                      },
                      {
                        "status": "active",
                        "description": "API Key description",
                        "key": "1c12172928b942efc3083c17f656397703569428",
                        "date_created": 1507958499,
                        "name": "Default Key"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API keys"
        ],
        "summary": "Create a New API Key",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name for API key",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description for API key",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a New API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            },
            "links": {
              "GetAPIKey": {
                "operationId": "getAPIKey",
                "parameters": {
                  "api_key": "$response.body#/data.key"
                },
                "description": "The `key` value returned in this response can be used as the `api_key` parameter in `GET /v4/api_keys/{api_key}`.\n"
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/api_keys/{api_key}": {
      "get": {
        "tags": [
          "API keys"
        ],
        "summary": "Get API Key Details",
        "operationId": "getAPIKey",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "description": "API Key Identificator.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "API keys"
        ],
        "summary": "Delete an API Key",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "description": "API key value",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "API keys"
        ],
        "summary": "Update API Key",
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "description": "API key value",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name for API key",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description for API Key",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/reports/": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get All Reports",
        "responses": {
          "200": {
            "description": "Get All Reports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "periodic": [
                      {
                        "frequency": "daily",
                        "events": "delivered+bounced",
                        "channel": "-",
                        "report_id": "bad1294e3920d3c559cf46f9396d681a",
                        "report_time": 10
                      },
                      {
                        "frequency": "weekly",
                        "events": "delivered+bounced",
                        "channel": "advert",
                        "report_id": "3e84ab6d7900156e8876605688cd4d37",
                        "report_time": 23
                      }
                    ],
                    "ondemand": [
                      {
                        "status": "done",
                        "name": "2018-02-02(00)_2018-02-03(00) (delivered + bounced)",
                        "url": "http://api.go.qa.smtp.com/csv/521dc2f03f3505a6d510a13cda80c6a2.zip",
                        "time_req": 1517659262,
                        "progress": "100%",
                        "channel": "-",
                        "report_id": "521dc2f03f3505a6d510a13cda80c6a2"
                      },
                      {
                        "status": "done",
                        "name": "2018-02-01(00)_2018-02-02(00) (delivered + bounced)",
                        "url": "http://api.go.qa.smtp.com/csv/03b9e30a728159c630ff168b902b1f48.zip",
                        "time_req": 1517572862,
                        "progress": "100%",
                        "channel": "mychannel",
                        "report_id": "03b9e30a728159c630ff168b902b1f48"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/reports/ondemand": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Create On-Demand Report",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "description": "Name of the channel for which a given report has been defined",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type or report format. If not specified defaults to “csv” - currently the only supported type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date/time of the report in RFC 2822 or UNIX epoch format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date/time of the report in RFC 2822 or UNIX epoch format (default - now)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Filter by the “from” domain of emails",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rcpt_domain",
            "in": "query",
            "description": "Filter by the “to” domain of emails",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Filter by event type. Valid event are: \n* hard_bounced - just hard bounces\n* failed - all failed messages, i.e. hard_bounced + the rest of failed\n* delivered - delivered messages\n* sent - delivered+failed (default events value)\n* pending - pending messages\n* total - all messages, i.e. sent+pending\n* abuse - spam complaints\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of columns to be specified in the report. These can differ based on any specified event type filter. \n\nPossible column values for all reports are:\n* `message_id` - Unique message ID\n* from - From Address\n* to - Recipient Address\n* time_rcv - Date Received in RFC 2822 or UNIX epoch format\n* time_snt - Date Delivered in RFC 2822 or UNIX epoch format\n* channel - Name of a channel\n\nAdditional column values for message reports (hard_bounced, failed, delivered, total) include:\n* status - Status of delivery\n* code - SMTP Response Code\n* message - SMTP Response message\n* tries - Amount of re-tries (deferred states before final)\n\nAdditional column values for spam reports include: \n* report_time - Date when an abuse complaint has been reported, RFC 2822 or UNIX epoch format\n* subject - Email Subject\n\nAdditional column values for pending reports include: \n* status - Current email status\n\nIf not specified all relevant columns are included.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create On-Demand Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/reports/{report_id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get Report Details",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "ID of a given report",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Report Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/reports/periodic": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Create Periodic Report",
        "parameters": [
          {
            "name": "frequency",
            "in": "query",
            "description": "Report frequency – one of:\n  * daily - every day at a specified hour\n  * weekly  - Mondays at a specified hour\n  * monthly - 1st day of the month at a specified hour\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "weekly",
                "daily"
              ]
            }
          },
          {
            "name": "report_time",
            "in": "query",
            "description": "The hour at which the report should be sent. Value values range from 0 to 23",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Name of the channel for which a given report has been defined",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notify_method",
            "in": "query",
            "description": "Notification method to be used when report is completed and can be downloaded",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "http_post"
              ]
            }
          },
          {
            "name": "notify_dest",
            "in": "query",
            "description": "A valid URL which will accept the report completion notification.\nThe payload will be\n```\n  {\"message\": \"success\", \"id\": string}\n```\nwhere `id` is a Unique report ID\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Filter by the “From” domain of emails",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rcpt_domain",
            "in": "query",
            "description": "Filter by the “To” domain of emails",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Filter by event type. Valid event are: \n* hard_bounced - just hard bounces\n* failed - all failed messages, i.e. hard_bounced + the rest of failed\n* delivered - delivered messages\n* sent - delivered+failed (default events value)\n* pending - pending messages\n* total - all messages, i.e. sent+pending\n* abuse - spam complaints\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Array of columns to be specified in the report. These can differ based on any specified event type filter. \n\nPossible column values are:\n* `message_id` - Unique message ID\n* from - From Address\n* to - Recipient Address\n* time_rcv - Date Received in RFC 2822 or UNIX epoch format\n* time_snt - Date Delivered in RFC 2822 or UNIX epoch format\n* channel - Name of a channel\n\nAdditional column values for message reports (hard_bounced, failed, delivered, total) include:\n* status - Status of delivery\n* code - SMTP Response Code\n* message - SMTP Response message\n* tries - Amount of re-tries (deferred states before final)\n\nAdditional column values for spam reports include: \n* report_time - Date when an abuse complaint has been reported, RFC 2822 or UNIX epoch format\n* subject - Email Subject\n\nAdditional column values for pending reports include: \n* status - Current email status\n\nIf not specified all relevant columns are included.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/reports/periodic/{report_id}": {
      "delete": {
        "tags": [
          "Reports"
        ],
        "summary": "Delete a Periodic Report",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Id of a given report",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a Periodic Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Reports"
        ],
        "summary": "Update Periodic Report",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "Id of the report to be updated",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Report frequency – one of:\n * daily - every day at a specified hour\n * weekly  - Mondays at a specified hour\n * monthly - first day of the month at a specified hour.\n",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "weekly",
                "daily"
              ]
            }
          },
          {
            "name": "report_time",
            "in": "query",
            "description": "The hour at which the report should be sent. Value values range from 0 to 23",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Name of channel (sender). If not specified all channels will be reported",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Filter by event type. Valid event are:\n* hard_bounced - just hard bounces\n* failed - all failed messages, i.e. hard_bounced + the rest of failed\n* delivered - delivered messages\n* sent - delivered+failed (default events value)\n* pending - pending messages\n* total - all messages, i.e. sent+pending\n* abuse - spam complaints\n\nIf not specified all events are included.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update Periodic Report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/alerts/": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "List All Allerts",
        "responses": {
          "200": {
            "description": "List All Allerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAlertResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "items": [
                      {
                        "type": "monthly_quota",
                        "threshold": 1,
                        "alert_id": "d6f021a4a9181b7031d4b6828ba9b295"
                      },
                      {
                        "type": "monthly_quota",
                        "threshold": 0.5,
                        "alert_id": "c6f021a4a9181b7031d4b6828ba9b295"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Create New Alert",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "An alert’s type. Currently only “monthly_quota” is supported",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "monthly_quota"
              ]
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "A number which represents a percentage of an account’s monthly quota. Must be decimal between 0 and 1",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "enum": [
                0.5,
                0.75,
                0.9,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create New Alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "alert": "created"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "apiID": []
          },
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/v4/alerts/{alert_id}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Get Alert Details",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "description": "Id of a given alert",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Alert Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAlertDetails"
                },
                "example": {
                  "status": "success",
                  "data": {
                    "type": "monthly_quota",
                    "threshold": 1,
                    "alert_id": "d6f021a4a9181b7031d4b6828ba9b295"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query or path params invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestSchema"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "errors": {
                      "start": "could not be blank",
                      "limit": "must be provided",
                      "offset": "must be provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidKey"
                },
                "example": {
                  "status": "fail",
                  "data": {
                    "api_key": "invalid"
                  }
                }
              }
            }
[...]
